.THIS .logo-and-search{
    background-color: #ffffff;
}

.body.THIS {
    background-color: #e6e6e6;
    min-height: 800px;
}

.THIS .custom-modal-border{
    height: 450px;
    width: 650px;
}

.THIS .slds-truncate {
    text-overflow: inherit;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word; 
}

.THIS .slds-table td {
    word-wrap:break-word;
    white-space: normal;
}

.THIS .patient-metrics{
    position: relative;
    height: 125px;
    width: 125px;
    text-align: center;
    background-color: #ffffff;
    border-style: groove;
    transition-duration: .5s;
}

.THIS .metric-name{
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.THIS .metric-number{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.THIS .patient-metrics:hover{
    border-style: ridge;
    background-color: #e6ffe6;
    cursor: pointer;
}

.THIS .current-filter{
    border-style: ridge;
    background-color: #e6ffe6;
}

.THIS .slds-icon_container svg {
    width: 12px;
    height: 20px;
    vertical-align: middle;
}

.THIS .slds-icon_container:hover{
    cursor: pointer;
    pointer-events: auto;
}

.THIS .column-header:hover{
    cursor: pointer;
    text-decoration: underline;
    pointer-events: auto;
}

.THIS .slds-button_brand {
    color: white;
}