.THIS .slds-icon_xx-small{
    width: .600rem;
    height: .600rem;
}
.THIS .slds-table tbody tr{
    line-height: .80rem;
}
.THIS.slds-container{
    min-width: 700px;
    width:100%;
    padding: 0px;
    border: 0px solid #000;
    text-align: center;
    padding-bottom: .3rem;
}
.THIS .slds-button{
    padding: 0px;
    border: 0px solid #000;
    height: 2rem;    
    width:5.5rem;
    margin-bottom: .25rem;
    text-align:center;
}
.THIS .slds-box{
    border:1px solid #1091F4;
    padding:.50rem;
}
.THIS .slds-border{
	border-bottom: 2px solid #1091F4;
}
.THIS .slds-size_8-of-12{
    width:50%;
    text-align:left;
    padding-left : 0.25rem;
}
.THIS .statusbanner{
    text-align:center;
    color: #32CD32;
    font-family : 'Salesforce Sans',Arial,'sans-serif';
    font-size: 0.80rem;
    font-weight: bold;
    width:100%
}
.THIS .slds-main-label{
    color:#1091F4;
    font-size:16px;
    font-weight:700;
    padding-left : 0.25rem;
}