.THIS .icn{
 background-color: #1091F4;   
}
.THIS .icn-reject{
    background-color: #abadb0;
}
.THIS .slds-main-label{
    color:#1091F4;
    font-size:14px;
    font-weight:700;
}
.THIS .slds-inner-label{
    font-size:14px;
    font-weight:700;
}
.THIS .slds-text-label{
    font-size:12px;
    font-weight:500;
}
.THIS .slds-line-seperater{
    line-height: 0rem;
    padding: 0px;
}
.THIS .slds-border-incomplete{
	background-color: #FF0000;
    padding:0px;
    padding-bottom:3px;
    text-align: center;
    color: #FFFFFF;
}
.THIS .slds-border-complete{
	background-color: #32CD32;
    padding:0px;
    padding-bottom:3px;
    text-align: center;
    color: #FFFFFF;
}
.THIS .border{
	background-color: #1091F4;
    padding:0px;
    padding-bottom:3px;
    text-align: center;
    color: #FFFFFF;
}
.THIS .slds-border-incomplete:before {
   content: "Incomplete";
   font-size:14px;
   font-weight:700; 
}
.THIS .slds-border-complete:before {
   content: "Complete";
   font-size:14px;
   font-weight:700;
}
.THIS .border:before {
   content: "Undefined";
   font-size:14px;
   font-weight:700;
}