<apex:page standardcontroller="Account" standardStylesheets="false" showHeader="false" sidebar="false">
   
    <!-- Include a JavaScript file in your Visualforce page -->
    <apex:includeScript value="/lightning/lightning.out.js" />

    <div id="lightning" />

    <script>
    //Tell your Visualforce page to use ExposeVF Lightning app
        $Lightning.use("c:LtngAppBICalculator", function() {
            // Write a function that creates the component on the page
          $Lightning.createComponent("c:LtngCompBICalculator",
          {accountId: "{!Account.Id}",
			opptyId: null,
            customerType: "{!Account.Customer_Type__c}",
			customerPayorCode: "{!Account.Consumer_Payor_Code__c}"
			},                         
          "lightning",
          function(cmp) {
			console.log("Component created!");
			console.log(cmp);
          });
        });
    </script>

</apex:page>