<apex:page standardcontroller="Account" standardStylesheets="false">
    <!-- Include a JavaScript file in your Visualforce page -->
    <apex:includeScript value="/lightning/lightning.out.js" />
    <div id="lightning" />
    <script>
    var myUserContext = "{!$User.UITheme}";
    //Tell your Visualforce page to use ExposeVF Lightning app
        $Lightning.use("c:LtngAccountProfileApp", function() {
            // Write a function that creates the component on the page
          $Lightning.createComponent("c:LtngAccountProfileComp",
          {accountId: {!ISBLANK(Account.Id)} ? null : "{!Account.Id}",
            userContext: myUserContext
          },
          "lightning",
          function(cmp) {
            console.log("Component created!");
            console.log(cmp);
          });
        });
    </script>
</apex:page>