<apex:page standardController="Account" extensions="ClsCreateMFRSubscriptionPageExtension">
    <flow:interview name="Create_MFR_Subscription" finishLocation="/{!Account.Id}" rendered="{!AND(CheckAddress == false, CheckLastMFRSubscriptionDate == false, CheckForActiveChartNotes == true)}">
        <apex:param name="varId" value="{!Account.Id}"/>
    </flow:interview>

    <apex:pageblock >   
        <apex:pageBlockSection rendered="{!CheckAddress == true}">
            <apex:outputText > Missing Data on Primary Ship to address associated with Account. Please correct data to create an MFR Subscription. </apex:outputText> 
            <apex:outputLink value="{!retrunURL}" > Click Here to Go back to Account. </apex:outputLink>
        </apex:pageBlockSection>
        <apex:pageBlockSection rendered="{!CheckLastMFRSubscriptionDate == true}">
            <apex:outputText > There is already a Subscription billed for the customer in the past 30 days. </apex:outputText> 
            <apex:outputLink value="{!retrunURL}" > Click Here to Go back to Account. </apex:outputLink>
        </apex:pageBlockSection>
        <apex:pageBlockSection rendered="{!CheckForActiveChartNotes == false}">
            <apex:outputText > Chart Notes isn't active for the customer, so Subscription cannot be added. </apex:outputText> 
            <apex:outputLink value="{!retrunURL}" > Click Here to Go back to Account. </apex:outputLink>
        </apex:pageBlockSection>
    </apex:pageblock>
</apex:page>