<apex:page standardcontroller="Account" standardStylesheets="false" showHeader="false" sidebar="false">
   
    <!-- Include a JavaScript file in your Visualforce page -->
    <apex:includeScript value="/lightning/lightning.out.js" />

    <div id="lightning" />

    <script>
    //Tell your Visualforce page to use ExposeVF Lightning app
        $Lightning.use("c:LtngAppCustomerCreditCardDetails", function() {
            // Write a function that creates the component on the page
          $Lightning.createComponent("c:LtngCompCustomerCreditCardDetails",
          {accountNumber:{!ISBLANK(Account.AccountNumber)} ? null : "{!Account.AccountNumber}"},
          "lightning",
          function(cmp) {
			console.log("Component created!");
			console.log(cmp);
          });
        });
    </script>
</apex:page>