<apex:page standardController="Order_Header__c" extensions="ClsDeepCloneOrdersController" sidebar="false" docType="html-5.0">
    
    <apex:form >
        <apex:pageMessages />
        <apex:sectionHeader title="Reduction Order Details."/>
        <apex:pageBlock >
            <apex:pageBlockSection title="Reduction Order">
                <apex:outputText value="{!Order_Header__c.Shipping_Method__c}"/> 
                <apex:outputText value="{!Order_Header__c.Account_Number__c}"/> 
                <apex:outputText value="{!Order_Header__c.Account__c}"/>
                <apex:outputText value="{!Order_Header__c.Price_List__c}"/>
                <apex:outputText value="{!Order_Header__c.Packing_Instructions__c}"/>
                <apex:outputText value="{!Order_Header__c.Ship_To_Address__c}"/>
                <apex:outputText value="{!Order_Header__c.Ship_To_Address__r.Name}"/>
                <apex:outputText value="{!Order_Header__c.Shipping_Instructions__c}"/>
                <apex:outputText value="{!Order_Header__c.PO_Number__c}"/>
                <apex:outputText value="{!Order_Header__c.Shipping_Method__c}"/>
                <apex:outputText value="{!Order_Header__c.Shipping_Method__c}"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Please select the type of RGA">
                <apex:pageBlockSectionItem >
                    <apex:outputText value="Type of Order: " />
                    <apex:selectList value="{!orderType}" required="true" multiselect="false" Size="1">
                        <apex:selectOptions value="{!OrderTypeList}"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>                    
                <apex:pageBlockSectionItem >
                   <apex:outputText value="Reason for RGA:" />
                   <apex:selectList value="{!reasonType}" required="true" multiselect="false" Size="1">
                        <apex:selectOptions value="{!reasonTypeList}"/>
                    </apex:selectList>
                   <!-- <apex:outputlabel value="Reason for RGA:"/>
                    <apex:selectlist size="1">
                    
                        <apex:selectoptions value="{!reasonTypeList}" />
                    
                    </apex:selectlist>-->
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputText value="RGA Reason Description:" />
                    <apex:inputTextarea id="rgaReason" required="true" value="{!rgaReason}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>  
            
            <apex:pageBlockSection title="Please update Values for quantity.">
                <apex:pageBlockTable var="a" value="{!relatedlist}" >
                    <apex:column value="{!a.Item_Name__c}"> </apex:column>
                    <apex:column value="{!a.Item_Number__c}"> </apex:column>
                    <apex:column value="{!a.Quantity__c}"> </apex:column>
                    <apex:column headerValue="New Quantity" >
                        <apex:inputText value="{!a.Quantity_Shipped__c}" id="Quantity" styleClass="!enteredQuantity"  />
                        <br/>
                        <apex:outputText value="{!a.Delivery_Status__c}" style="font-size:10px; font-weight:bold; color:red;" rendered="{!LEN(a.Delivery_Status__c)>0}"/>
                    </apex:column>
                    <apex:column value="{!a.Shipping_Date__c}"> </apex:column>
                    <apex:column value="{!a.Generation__c}"> </apex:column>
                </apex:pageBlockTable>
            </apex:pageBlockSection>
            <div align="center">
                <apex:commandButton value="Save" action="{!UpdateQuantity}"/>
                <apex:commandButton value="Cancel" action="{!Cancel}" />
            </div>
        </apex:pageBlock>
    </apex:form> 
</apex:page>