<!-- This page will be invoked from Benefits page to invoke the Quadax API for BI Authorization -->
<apex:page standardController="Benefits__c" extensions="ClsInvokeQuadaxBICheckPageController" showHeader="false" sidebar="false">
    <script>
    window.onload = function(){
        callQuadaxAPI();
    }
    function reloadData(){
        window.opener.location.href = "/{!Benefits__c.Id}";
        window.top.close();
    }
    </script>
    <apex:form id="result">
        <apex:actionFunction name="callQuadaxAPI" action="{!invokeQuadaxAPICall}" rerender="result" status="apiInvocationStatus"/>
        <apex:actionStatus id="apiInvocationStatus">
            <apex:facet name="start" >
				<span style="color:red; font-weight: bold">
					<center> PLEASE DO NOT CLOSE THIS WINDOW </center>
				</span>
                <span style="color:green; font-weight: bold">
                	<center> Contacting Quadax..... <img src="/img/loading32.gif"/></center>
                </span>
            </apex:facet>
            <apex:facet name="stop" >
            </apex:facet>
        </apex:actionStatus>
        <apex:outputText value="{!apiInvocationStatus}" escape="false"/>
    </apex:form>    
</apex:page>